<!DOCTYPE html>
<html>

<head>
<title> Seattle Rental Affordability</title>
<script type="text/javascript" src="static/brython/brython.js"></script>
<script type="text/javascript" src="static/brython/brython_modules.js"></script>
<script type="text/python3">
import index
</script>
</head>

<header class="main-header" role="banner">
  <img src="/static/Seattle_3_banner.jpg" alt="Banner Image"/>
</header>

<style>
body {
    background-color: #D4E6F1;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>

<body onload="brython({debug:1, pythonpath:['static/brython']})">
  <center>

    <p>
  <h1>Seattle Rent Affordability Based on Various Industry Wages</h1>
</p>

<p>
  Select a year and industry below
</p>
<p>
<select id="industry_name">

  {% for industry_name in industry_names %}  <!--start for loop over variable data-->
                     <!-- on each row -->
    <option value="{{industry_name}}">{{industry_name}}</option>

  {% endfor %}            <!-- end for loop -->

</select>

<select id="year">

  {% for year in years %}  <!--start for loop over variable data-->
                     <!-- on each row -->
    <option value="{{year}}">{{year}}</option>

  {% endfor %}            <!-- end for loop -->

</select>
</p>
<div "wrapper" style="text-align: center;">
<div style="display: inline-block; vertical-align: top;"> <img src="/static/zip-code-map-seattle.jpg"></div>
<div style="display: inline-block; vertical-align: top; padding: 5rem" id="table"></div>
</div>
</center>
</body>
</html>
